.contato {
    background-color: var(--branco);
    padding: 1em;
}

.contato__titulo,
.contato__texto {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__texto {
    font-weight: 300;
    margin: 1em 0;
}

.contato__titulo {
    font-size: 18px;
    font-weight: 500;
}

.contato__email {
    padding: 1em;
    border: 1px solid var(--cor-azul);
    border-radius: 24px;
    width: 60%;
    color: var(--cor-azul);
}

.contato__email::placeholder {
    font-family: var(--font-principal);
    color: var(--cor-azul);
    background: url("../img/Email.svg") no-repeat;
    padding-left: 2em;
}

.divisao {
    display: flex;
    justify-content: space-between;
    gap: 2%;
}

.botao__email {
    background-color: var(--cor-azul);
    padding: 1em;
    border: 1px solid var(--cor-azul);
    border-radius: 24px;
    width: 25%;
    color: var(--branco);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .contato {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .contato__titulo {
        font-size: 24px;
    }

    .contato__email {
        width: 60%;


    }

    .botao__email {
        width: 30%;
        margin: 0 1em 0;

    }

    .contato__descricao {
        margin-right: 1em;
        width: 30%;

    }
}

@media screen and (min-width:1728px) {
    .contato {
        padding: 3em 20vw;
    }
}